* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0e1a34;
}

.menu {
    position: relative;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 130px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(100px);
    -webkit-transform: rotate(0deg) translateX(100px);
    -moz-transform: rotate(0deg) translateX(100px);
    -ms-transform: rotate(0deg) translateX(100px);
    -o-transform: rotate(0deg) translateX(100px);
}

.menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)));
    -webkit-transform: rotate(calc(360deg / 8 * var(--i)));
    -moz-transform: rotate(calc(360deg / 8 * var(--i)));
    -ms-transform: rotate(calc(360deg / 8 * var(--i)));
    -o-transform: rotate(calc(360deg / 8 * var(--i)));
}

.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    text-decoration: none;
    height: 60px;
    font-size: 1.5em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(calc(360deg / -8 * var(--i)));
    -webkit-transform: rotate(calc(360deg / -8 * var(--i)));
    -moz-transform: rotate(calc(360deg / -8 * var(--i)));
    -ms-transform: rotate(calc(360deg / -8 * var(--i)));
    -o-transform: rotate(calc(360deg / -8 * var(--i)));
    color: transparent;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition-delay: 0.5s;
}

.menu.active li a {
    color: var(--clr);
}

.menu li a::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background: #fff;
    transform: rotate(calc(var(--i) * 90deg)) translate(0, 25px);
    -webkit-transform: rotate(calc(var(--i) * 90deg)) translate(0, 25px);
    -moz-transform: rotate(calc(var(--i) * 90deg)) translate(0, 25px);
    -ms-transform: rotate(calc(var(--i) * 90deg)) translate(0, 25px);
    -o-transform: rotate(calc(var(--i) * 90deg)) translate(0, 25px);
    transition: height 0.5s, width 0.5s, transform 0.5s;
    -webkit-transition: height 0.5s, width 0.5s, transform 0.5s;
    -moz-transition: height 0.5s, width 0.5s, transform 0.5s;
    -ms-transition: height 0.5s, width 0.5s, transform 0.5s;
    -o-transition: height 0.5s, width 0.5s, transform 0.5s;
    transition-delay: 0s, 0s, 0s;
}

.menu.active li a::before {
    width: 60px;
    height: 60px;
    border: 2px solid var(--clr);
    box-sizing: border-box;
    background: #102344;
    border-radius: 50px;
    z-index: -1;
    transform: rotate(calc(var(--i) * 90deg)) translate(0px, 0px);
    -webkit-transform: rotate(calc(var(--i) * 90deg)) translate(0px, 0px);
    -moz-transform: rotate(calc(var(--i) * 90deg)) translate(0px, 0px);
    -ms-transform: rotate(calc(var(--i) * 90deg)) translate(0px, 0px);
    -o-transform: rotate(calc(var(--i) * 90deg)) translate(0px, 0px);
    transition: transform 0.5s, height 0.5s, width 0.5s;
    -webkit-transition: transform 0.5s, height 0.5s, width 0.5s;
    -moz-transition: transform 0.5s, height 0.5s, width 0.5s;
    -ms-transition: transform 0.5s, height 0.5s, width 0.5s;
    -o-transition: transform 0.5s, height 0.5s, width 0.5s;
    transition-delay: 1s, 1.5s, 1.5s;
    rotate: 135deg;
}

.menu.active li:hover a::before {
    background: var(--clr);
    color: #fff;
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
}

.menu li a::after {
    content: "";
    position: absolute;
    left: 50px;
    width: 20px;
    height: 2px;
    background: #fff;
    z-index: -2;
    transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
    -webkit-transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
    -moz-transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
    -ms-transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
    -o-transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition-delay: 0.5s;
}

.menu.active li a::after {
    left: 10px;
    width: 40px;
    background: var(--clr);
    transform: rotate(calc(var(--i) * 45deg)) translate(50px, 0px);
    -webkit-transform: rotate(calc(var(--i) * 45deg)) translate(50px, 0px);
    -moz-transform: rotate(calc(var(--i) * 45deg)) translate(50px, 0px);
    -ms-transform: rotate(calc(var(--i) * 45deg)) translate(50px, 0px);
    -o-transform: rotate(calc(var(--i) * 45deg)) translate(50px, 0px);
    transition-delay: 0.5s;
}

.menu.active li:hover a i {
    position: relative;
    color: #fff;
    z-index: 1000000;
}

.menuToggle {
    position: absolute;
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    transition: transform 1.5s;
    -webkit-transition: transform 1.5s;
    -moz-transition: transform 1.5s;
    -ms-transition: transform 1.5s;
    -o-transition: transform 1.5s;
}

.menu.active .menuToggle {
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
}